<div id='leaflet-overlay-pane' style="  position: absolute;
  height: 100%;
  width: 100%;">
	<h2>Parking Information</h2>
	<h2><b>Hover over a parking space</b></h2>
</div>
<!--<div leaflet style="height: 2500px;"
	 leaflet 
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl"
	 [leafletLayers]="layers">
</div>
-->

<div leaflet id="mapid"   style="  position: absolute;
  height: 100%;
  width: 100%;">
  	
 </div>
<app-infos style="  position: top-right;
  width:330px; height:200px;"></app-infos>