<a class="record-item-container" href="#">
    <form action="/users/record/detail" method="post">
        <input type="hidden" name="detail_data" value="{json_data}">
    </form>
    <article>
        <div class="left">
             <div class="serial-number">订单编号：<span>{{number}}</span></div> 
            <div class="parkingPlace">{{parkingplace}}</div>
            <div class="costTime">{{costtime}}</div>
        </div>
        <div class="right">
            <div class="date">{{date}}</div>
            <div class="carNumber">{{carlicense}}</div>
            <div class="costMoney">{{feed}}</div>
        </div>
    </article>  
</a>

<p class="OwnerManage"><img src="image/mplatform_icon_currrent.png" class="homeImg"><span>主管理 / 停车记录</span></p>
<section class="gatewaySetting">
    <div class="row add-search">
        <form class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <span>账号</span>
                    <input type="text" ng-keyup="forsearch.searchPhone()" id="parkRe" autocomplete="off" ng-model="query">
                    <div class="searchphone" ng-show="shown">
                        <div >
                            <p ng-repeat="list in searchList | filter:query " ng-class="{'hover':hover}" style="cursor: default" ng-click="forsearch.phone(list.user.phonenum)">{{list.user.phonenum}}</p>
                        </div>
                    </div>
                </li>
                <li>
                    <span>开始时间</span>
                    <input type="text" id="parkingStart" autocomplete="off">
                </li>
                <li>
                    <span>结束时间</span>
                    <input type="text" id="parkingEnd" autocomplete="off">
                </li>
                <li>
                    <button class="btn btn-success" ng-click="search()"><span class="glyphicon glyphicon-search"></span> 查询</button>
                </li>
            </ul>
        </form>
    </div>
  <div class="row">
    <div class="col-xs-12 fee-box">
        <div class="row auto-line">
            <div class="col-1"><p>序号</p></div>
            <div class="col-3"><p>账号</p></div>
            <div class="col-4"><p>片区</p></div>
            <div class="col-2"><p>车位ID</p></div>
            <div class="col-4"><p>停入时间</p></div>
            <div class="col-4"><p>驶出时间</p></div>
            <div class="col-3"><p>停车时长</p></div>
            <div class="col-3"><p>应缴停车费</p></div>
            <div class="col-3"><p>实收停车费</p></div>
        </div>
        <div ng-mousemove="hover=true" ng-mouseleave="hover=false" class="row auto-line" ng-repeat="list in lists">
            <div class="col-1"><p ng-class="{'hover':hover}" style="cursor: default">{{$index+1}}</p></div>
            <div class="col-3"><p ng-class="{'hover':hover}" style="cursor: default">{{list.user.phonenum}}</p></div>
            <div class="col-4"><p ng-class="{'hover':hover}" style="cursor: default">{{list.parkPlace.parkLot.parkLotName}}</p></div>
            <div class="col-2"><p ng-class="{'hover':hover}" style="cursor: default">{{list.parkPlace.placenum}}</p></div>
            <div class="col-4"><p ng-class="{'hover':hover}" style="cursor: default">{{list.startTime}}</p></div>
            <div class="col-4"><p ng-class="{'hover':hover}" style="cursor: default">{{list.endTime}}</p></div>
            <div class="col-3"><p ng-class="{'hover':hover}" style="cursor: default" ng-bind="duration(list.longParkingTime)"></p></div>
            <div class="col-3"><p ng-class="{'hover':hover}" style="cursor: default">{{list.needPay}}</p></div>
            <div class="col-3"><p ng-class="{'hover':hover}" style="cursor: default">{{list.payAmount}}</p></div>
        </div>
    </div>
   </div>
</section>











<p class="OwnerManage"><img src="image/mplatform_icon_currrent.png" class="homeImg"><span>统计展示 / 停车费统计图表展示</span></p>
<section class="home">
    <ul class="list-unstyled list-inline gatewaySearch">
        <li><span style="margin: 0 12px;">片区</span><input type="text" class="normalIput"></li>
        <li style="margin-left:9px;"><span style="margin: 0 12px;">开始时间</span><input type="text" class="normalIput"></li>
        <li style="margin-left:9px;"><span style="margin: 0 12px;">结束时间</span><input type="text" class="normalIput"></li>
        <li><div class="gatewayQuery text-center"><img src="image/search.png"><span style="margin-left: 10px;">查询</span></div></li>
    </ul>
    <div style="background-color: #FFFFFF;height:550px;overflow-y: scroll">
        <p style="margin-top:20px;padding-left: 10px;">当前收益 <span>50000元</span></p>
        <div id="containerT" style="margin:20px 0"></div>
        <div id="containerM" style="margin:50px 0"></div>
        <div id="containerB" style="margin:50px 0"></div>
    </div>

</section>


